<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Events</h1>
  </header>
  <section id="events">
    <h2>Events in Action</h2>
    <button @click="add(10)">Add</button>
    <button @click.right="reduce(10)">Remove</button>
    <!-- <p v-once>Starting Counter: {{ counter }}</p> --> <!-- v-once it bind the information only one time so the counter remain in his intial value --> 
    <p>Result: {{ counter }}</p>

    <!-- <input type="text" v-bind:value="name" v-on:input="setName($event,'ouadrani')" v-on:keyup.enter="confirmInput" /> --><!--  display the name until we press enter -->
    <input type="text" v-model="name"/> <!-- Concept named Two way Binding : v-model is the same as these two v-bind:value="name" v-on:input="setName($event,'ouadrani')" -->
    <input type="text" v-model="lastName"/>
    <!-- if we have a multiple variable so how to deal with the event variable we act like this -->
    <button @click="resetInput" >Reset Input</button> <!-- //v-on: = @ vue shortcut -->
<!--     <p>Your Name:{{ confirmedInput }}</p>
  <p>Your Name:{{ confirmedInput }}</p>
 -->  
 <!-- <p>Your Name:{{ name }}</p>   interpolation --> 
     <!-- <p>Your Name:{{ outputFullname() }}</p> //In this case using methods when we change the counter value we can see that the methods was called even thoug we have not change the name So let's see with computed concept -->
     <p>Your Name:{{ fullname }}</p> <!-- //In contrast with the computed use changing the counter does not effect the input field so fullname did not called => this methods is more effective --> 
 <!-- <form v-on:submit.prevent="submitForm"> //add the prevent modifier to prevent the reloading of the page
      <input type="text" />
      <button>Sign Up</button>
    </form> -->

       <!-- shortcuts : v-on: = @   v-bind:value="" = :value="" -->

  </section>
</body>

</html>